.errorInputColor {
    & div > div{
        border-color: #DA1001;

        & label{
            color: #DA1001 !important;
        }
    }
}

.backgrodunSection{
    background-image: url('/images/gradient_login.webp');
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
}