.toolbarContainer {
  /* position: absolute;
  top: 0rem;
  left: -50rem;
  transform: translate(-24%, 0);
  border-radius: 0.75rem;
  padding: 0.375rem;
  display: flex;
  gap: 0.375rem;
  z-index: 1000; */
  }
  
  .toolbarContainer button {
    transition: all 0.2s ease;
    background-color: transparent;

    & > svg{
      color: black !important
    }
  }
  
  .toolbarContainer button:hover {
    transform: scale(1.1);
    background: white;

    & > svg{
      color: black !important
    }
  }

  .activeButton {
    background-color: #00C662; /* Cambia el color de fondo cuando está activo */
    color: white; /* Cambia el color del ícono */
  }